@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.eot");
  src: url("../fonts/Helvetica.eot?iefix") format("eot"), url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: Helvetica;
  font-size: 16px;
  color: #fff;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  max-height: 1117px;
  display: flex;
}

.left-block {
  width: 100%;
  max-width: 270px;
  background: #000;
}

.projectus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
}
.projectus__logo {
  margin-right: 20px;
}
.projectus__text {
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 50px;
}
@media (max-width: 1000px) {
  .projectus__logo {
    margin-right: 10px;
  }
  .projectus__text {
    font-size: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 910px) {
  .projectus__logo {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .projectus__text {
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .projectus__search {
    display: none;
  }
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #202020;
  padding: 10px;
}
.user__photo {
  margin: 0px 15px 0px 15px;
  width: 60px;
  height: 60px;
}
.user__photo__img {
  width: 100%;
}
.user__text {
  margin-right: 20px;
}
.user__text__name {
  font-size: 14px;
}
.user__text__position {
  font-size: 12px;
  color: #9B9B9B;
}
.user__point {
  position: relative;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
}
.user__point:after {
  content: "•••";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  font-size: 10px;
  letter-spacing: 4px;
}
@media (max-width: 975px) {
  .user__point {
    display: none;
    /*margin-top: 5px;
    margin-left: 20px;*/
  }
}
@media (max-width: 950px) {
  .user__photo {
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .user__text {
    margin: 0 auto;
  }
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
}
.tasks__left, .tasks__right {
  display: block;
}
.tasks__left {
  padding-right: 20px;
}
.tasks__text {
  font-size: 20px;
}
.tasks__info {
  font-size: 12px;
  color: #9B9B9B;
}
@media (max-width: 965px) {
  .tasks {
    padding-bottom: 5px;
  }
  .tasks__left {
    margin-bottom: 7px;
  }
}

.menu {
  padding: 30px;
}
.menu__title {
  font-size: 12px;
  color: #878787;
  text-transform: uppercase;
}
.menu li {
  margin-top: 15px;
}
.menu li:last-child::after {
  content: "3";
  margin-left: 5px;
  background: #FFC200;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #000;
  font-size: 13px;
  text-align: center;
  padding: 5px;
}
.menu a {
  color: #fff;
}
@media (max-width: 900px) {
  .menu {
    padding-top: 20px;
  }
  .menu__title {
    font-size: 10px;
  }
  .menu__link {
    font-size: 12px;
  }
  .menu li {
    margin-top: 5px;
  }
  .menu li:last-child::after {
    font-size: 10px;
    margin-left: 0;
  }
}
@media (max-width: 875px) {
  .menu li:last-child::after {
    display: none;
  }
}

.right-block {
  width: 100%;
  max-width: 1270px;
  background: #fff;
  color: #131313;
}

.header {
  display: flex;
}
.header__left {
  min-width: 50%;
}
.header__left-title {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 30px;
  align-items: center;
}
.header__left-title .shape {
  width: 40px;
  height: 40px;
  background: #FFC200;
  border-radius: 15px;
}
.header__left-title .shape img {
  width: 100%;
}
.header__left-title .title {
  margin-left: 20px;
  color: #000;
  font-size: 32px;
}
.header__left-title .point {
  background: #eaeaea;
  margin-left: 20px;
  position: relative;
  width: 30px;
  height: 30px;
  color: #9B9B9B;
  border-radius: 50%;
}
.header__left-title .point:after {
  content: "•••";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  font-size: 10px;
  letter-spacing: 4px;
}
.header__right {
  width: 50%;
  padding-top: 30px;
}
.header .right__info {
  padding-right: 30px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
}
.header .right__info img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.header .right__info .button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 67px;
  height: 30px;
  border-radius: 15px;
}
.header .right__info .button a {
  margin: 0 auto;
  font-size: 14px;
}
.header .right__info .button__1 {
  background: #eaeaea;
  margin-left: 15px;
}
.header .right__info .button__2 {
  width: 81px;
  background: #FFF8DD;
  margin-left: 15px;
}
.header .right__info .button__2__combined {
  width: 20px;
  margin: 0 auto;
}
.header .right__info .button__2 a {
  color: #FFC200;
}

.container {
  margin-top: 0;
  padding-bottom: 20px;
  /*.navbar {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      text-align: center;

      li {
        margin-top: 20px;
        list-style: none;

        a {
          text-decoration: none;
          color: $black;
          font-size: 16px;
          //text-transform: uppercase;
          padding: 10px 17px;
        }
      }
    }
  }

     */
}
.container .navbar {
  overflow: hidden;
}
.container .navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.container .navbar a:hover {
  background-color: #ddd;
  color: black;
}
.container .active {
  border-bottom: 2px solid #FFC200;
}
.container .navbar .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .container .navbar a:not(:first-child) {
    display: none;
  }
  .container .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .container .navbar.responsive {
    position: relative;
  }
  .container .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .container .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.article {
  width: 100%;
  max-width: 1270px;
  background: #eeebe5;
}
.article__container {
  width: 730px;
  height: 591px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.box {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 15px;
}

.today .today__header {
  color: #000;
  color: #131313;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 30px;
}

.articles {
  padding: 30px 40px;
}

.article__1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article__1__img {
  background: #CEF9C6;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
}
.article__1__img img {
  width: 12px;
  height: 9px;
  margin-top: calc(50% - 6px);
}
.article__1__text {
  margin-left: 30px;
  font-size: 16px;
  color: #131313;
}
.article__1__time {
  padding-left: 80px;
  font-size: 14px;
}

.article__2 {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.article__2__img {
  background: #FFF8DD;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
}
.article__2__img img {
  width: 100%;
  width: 12px;
  height: 11.2px;
  margin-top: calc(50% - 5.5px);
}
.article__2__text {
  font-size: 16px;
  color: #131313;
}
.article__2__add {
  font-size: 15px;
  color: #131313;
}
.article__2__time {
  padding-left: 80px;
  font-size: 14px;
}

.article__3 {
  margin: 10px 60px 0 70px;
  background: #F7F6F3;
  border-radius: 15px;
  padding: 15px;
  font-size: 15px;
}

.article__4 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}
.article__4__img {
  background: #E3EFFF;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
}
.article__4__img img {
  width: 12px;
  height: 8.8px;
  margin-top: calc(50% - 4.2px);
}
.article__4__text {
  font-size: 16px;
  color: #131313;
}
.article__4__time {
  padding-left: 80px;
  font-size: 14px;
}

.article__5 {
  padding-left: 70px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.article__5__img {
  width: 570px;
  height: 70px;
}
.article__5__img img {
  width: 100px;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
