.article {
  width: 100%;
  max-width: 1270px;
  background: #eeebe5;

  &__container {
    margin: 0 auto;
    padding: 30px;

    .box {
      //width: 100%;
      //height: 100%;
      max-width: 730px;
      //max-height: 591px;
      background: $white;
      border-radius: 15px;
      margin: 0 auto;
    }

    .today {
      .today__header {
        color: $black;
        color: $text;
        font-size: 14px;
        text-transform: uppercase;
        padding-top: 20px;
        padding-left: 30px;
      }
    }

    .articles {
      padding: 30px 40px;
    }

    .article__1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;


      &__img {
        background: #CEF9C6;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        text-align: center;


        img {
          width: 12px;
          height: 9px;
          margin-top: calc(50% - 6px);
        }
      }

      &__text {
        margin-left: 30px;
        font-size: 16px;
        color: $text;
      }

      &__time {
        padding-left: 80px;
        font-size: 14px;
      }
    }

    .article__2 {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;


      &__img {
        background: #FFF8DD;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        text-align: center;


        img {
          width: 100%;
          width: 12px;
          height: 11.2px;
          margin-top: calc(50% - 5.5px);
        }
      }

      &__text {
        font-size: 16px;
        color: $text;
      }

      &__add {
        font-size: 15px;
        color: $text;
      }

      &__time {
        padding-left: 80px;
        font-size: 14px;
      }
    }

    .article__3 {
      margin: 10px 60px 0 70px;
      background: #F7F6F3;
      border-radius: 15px;
      padding: 15px;
      font-size: 15px;
    }

    .article__4 {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      align-items: center;

      &__img {
        background: #E3EFFF;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        text-align: center;

        img {
          width: 12px;
          height: 8.8px;
          margin-top: calc(50% - 4.2px);
        }
      }

      &__text {
        font-size: 16px;
        color: $text;
      }

      &__time {
        padding-left: 80px;
        font-size: 14px;
      }
    }

    .article__5 {
      padding-left: 70px;
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &__img {
        width: 570px;
        height: 70px;

        img {
          width: 100px;
          margin-right: 10px;
        }
      }
    }
  }
}

