.article {
  width: 100%;
  max-width: 1270px;
  background: #eeebe5;

  &__container {
    margin: 0 auto;
    padding: 30px;

    .box {
      max-width: 730px;
      background: $white;
      border-radius: 15px;
      margin: 0 auto;
    }

    .today {
      .today__header {
        color: $text;
        font-size: 14px;
        text-transform: uppercase;
        padding-top: 20px;
        padding-left: 30px;
      }
    }

    .articles {
      padding: 30px 40px;
      font-size: 16px;
    }

    .article__1 {
      display: flex;
      justify-content: space-between;

      &:before {
        content: '';
        position: relative;
        display: inline-block;
        border-radius: 100%;
        background: #CEF9C6;
        background-image: url("../img/Icon@3x.svg");
        background-repeat: no-repeat;
        background-position-x: (50%);
        background-position-y: (50%);
        background-size: 12px;
        top: calc(50% - 15px);
        text-align: center;
        padding: 20px;
      }

      &__text {
        color: $text;
      }

      &__time {
        padding-left: 80px;
        font-size: 14px;
      }
    }

    .article__2 {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;

      &:before {
        content: '';
        position: relative;
        display: inline-block;
        border-radius: 100%;
        background: #FFF8DD;
        background-image: url("../img/message.png");
        background-repeat: no-repeat;
        background-position-x: (50%);
        background-position-y: (50%);
        background-size: 12px;
        top: calc(50% - 15px);
        text-align: center;
        padding: 20px;
      }

      &__text {
        color: $text;
      }

      &__time {
        padding-left: 80px;
        font-size: 14px;
      }
    }

    .article__3 {
      margin: 10px 60px 0 70px;
      background: #F7F6F3;
      border-radius: 15px;
      padding: 15px;
    }

    .article__4 {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;


      &:before {
        content: '';
        position: relative;
        display: inline-block;
        border-radius: 100%;
        background: #E3EFFF;
        background-image: url("../img/download.png");
        background-repeat: no-repeat;
        background-position-x: (50%);
        background-position-y: (50%);
        background-size: 12px;
        top: calc(50% - 15px);
        text-align: center;
        padding: 20px;
      }

      &__text {
        color: $text;
      }

      &__time {
        padding-left: 80px;
        font-size: 14px;
      }
    }

    .article__5 {
      padding-left: 70px;
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &__img {
        width: 570px;
        height: 70px;

        img {
          width: 100px;
          margin-right: 10px;
        }
      }
    }
  }

  @media (max-width: 760px) {
    .articles {
      font-size: 14px;

      .article__1, .article__2, .article__4 {
        justify-content: space-between;
        &__text {
          padding-left: 20px;
        }
      }

      .article__1__time, .article__2__time, .article__4__time {
        font-size: 10px;
      }
    }
  }

  @media (max-width: 662px) {
    .article__1::before, .article__2::before, .article__4::before {
      display: none;
    }
    .article__3 {
      margin: 10px 40px 0 25px;
      padding: 5px;
    }
    .article__5 {
      padding-left: 20px;

      img {
        width: 80px;
      }
    }
  }

  @media (max-width: 540px) {
    .article__5 {
      padding-left: 10px;

      img {
        width: 60px;
      }
    }
  }
  @media (max-width: 450px) {
    .article__5 {

      img {
        width: 40px;
      }
    }
  }
}

