.left-block {
  width: 100%;
  max-width: 270px;
  background: $black;
}

.projectus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;

  &__logo {
    margin-right: 20px;
  }

  &__text {
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 50px;
  }

  @media(max-width: 1000px) {
    &__logo {
      margin-right: 10px;
    }
    &__text {
      font-size: 10px;
      margin-right: 10px;
    }
  }
  @media(max-width: 910px) {
    &__logo {
      margin: 0 auto;
      margin-bottom: 10px;
    }
    &__text {
      margin: 0 auto;
      margin-bottom: 5px;
    }
    &__search {
     display: none;
    }
  }
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #202020;
  padding: 10px;

  &__photo {
    margin: 0px 15px 0px 15px;
    width: 60px;
    height: 60px;

    &__img {
      width: 100%;
    }
  }

  &__text {
    margin-right: 20px;

    &__name {
      font-size: 14px;
    }

    &__position {
      font-size: 12px;
      color: $gray;
    }
  }

  &__point {
    position: relative;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;

    &:after {
      content: '•••';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      font-size: 10px;
      letter-spacing: 4px;
    }
  }

  @media(max-width: 975px) {
    &__point {
      display: none;
      /*margin-top: 5px;
      margin-left: 20px;*/
    }
  }
  @media(max-width: 950px) {
    &__photo {
      margin: 0 auto;
      margin-bottom: 5px;
    }
    &__text {
      margin: 0 auto;
    }
  }
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;

  &__left, &__right {
    display: block;
  }

  &__left {
    padding-right: 20px;
  }

  &__text {
    font-size: 20px;
  }

  &__info {
    font-size: 12px;
    color: $gray;
  }

  @media (max-width: 965px) {
    padding-bottom: 5px;
    &__left {
      margin-bottom: 7px;
    }
  }
}

.menu {
  padding: 30px;

  &__title {
    font-size: 12px;
    color: $active;
    text-transform: uppercase;
  }

  li {
    margin-top: 15px;

    &:last-child::after {
      content: "3";
      margin-left: 5px;
      background: $yellow;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      color: $black;
      font-size: 13px;
      text-align: center;
      padding: 5px;
    }
  }

  a {
    color: $white;
  }

  @media (max-width: 900px) {
    padding-top: 20px;
    &__title {
      font-size: 10px;
    }
    &__link {
      font-size: 12px;
    }
    li {
      margin-top: 5px;

      &:last-child::after {

        font-size: 10px;
        margin-left: 0;
      }
    }
  }

  @media (max-width: 875px) {
    li:last-child::after {
     display: none;
    }
  }
}

