.right-block {
  width: 100%;
  max-width: 1270px;
  background: $white;
  color: $text;
}

.header {
  display: flex;
  align-items: center;

  &__left {
    min-width: 50%;

    &-title {
      display: flex;
      flex-wrap: wrap;
      padding-top: 30px;
      padding-left: 30px;
      align-items: center;

      /*.shape {
        width: 40px;
        height: 40px;
        background: $yellow;
        border-radius: 15px;

        img {
          width: 100%;
        }
      }*/

      .title {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        color: $black;
        font-size: 32px;

        &:before {
          content: '';
          position: relative;
          display: inline-block;
          width: 40px;
          height: 40px;
          background: $yellow;
          background-image: url("../img/Shapes@2x.png");
          background-repeat: no-repeat;
          top: calc(50% - 20px);
          background-size: cover;
          margin-right: 10px;
        }
      }

      .point {
        margin-left: 15px;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #EAEAEA;

        .dots {
          color: $gray;
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 26px;
          line-height: 0;
          margin-top: -8px;
          letter-spacing: -1px;
        }
      }
    }

    @media (max-width: 1065px) {
      .point {
        display: none;
      }
    }

    @media (max-width: 715px) {
      .title {
        font-size: 24px;
        &::before {
          width: 20px;
          height: 20px;
          top: calc(50% - 10px);
        }
      }
    }

    @media (max-width: 550px) {
      .title {
        margin-left: 0;
        &::before {
          display: none;
        }
      }

    }

    @media (max-width: 490px) {
      .title {
        font-size: 18px;
      }
    }
  }

  &__right {
    min-width: 50%;


    &-info {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding-top: 30px;
      padding-right: 10px;

      .image {
        img {
          width: 30px;
          height: 30px;
          margin-left: 5px;
        }
      }

      button {
        width: 67px;
        height: 30px;
        border-radius: 15px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        background-color: transparent;

      }

      .button__1 {
        background: #eaeaea;
        margin-left: 15px;
      }

      .button__2 {
        width: 81px;
        background: #FFF8DD;
        margin-left: 15px;
        color: $yellow;
        position: relative;
        padding-left: 12px;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-image: url("../img/Combined Shape@1x.svg");
          background-repeat: no-repeat;
          position: absolute;
          top: calc(50% - 10px);
        }
      }
    }

    @media (max-width: 610px) {
      .image {
        display: none;
      }
    }
    @media (max-width: 500px) {
      button {
        width: 40px;
        height: 20px;
        font-size: 10px;

      }
      .button__2 {
        width: 40px;
        padding-left: 0;
      }

      .button__2::after {
        display: none;
      }
    }
  }
}


.container {
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 15px;
  padding-left: 25px;


  ul {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    li {
      margin: 0 5px;
    }

    a {
      color: $black;
      text-decoration: none;
      font-size: 16px;
      transition-duration: 300ms;
      transition-property: color, border-bottom;
      margin-right: 23px;

      &:hover {
        border-bottom: 2px solid $yellow;
      }
    }
  }

  .active {
    border-bottom: 2px solid $yellow;
  }
}


@media (max-width: 440px) {
  .container {
    ul {
      li {
        margin: 5px;
      }

      a {
        padding-bottom: 0;
      }
    }
  }
}

@media (max-width: 365px) {
  .menu {
    ul {
      justify-content: center;
    }
  }
}

